
@{
    ViewBag.Title = "Razor";
}

<h2>Razor</h2>

@using (Html.BeginForm("Basics", "Razor", FormMethod.Post, new { @class = "col-lg-3", role = "form", action="/Basics/Razor" }))
{
    @Html.AntiForgeryToken()

    @Html.Label("_email", "Email:");
    @Html.TextBox("email");

    @Html.Label("_password", "Password:");
    @Html.Password("_password");

    @Html.Label("_pwConfirm", "Re-Enter Password:");
    @Html.Password("_pwConfirm");

    <input type="submit" value="SUBMIT"/>
}